body {

    font-family: Arial, sans-serif;

    margin: 30px;

    background: #0f9ea5;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

h1 {

    margin-bottom: 20px;
}

.topbar {
    color:white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

input {

    padding: 10px;

    font-size: 16px;

    width: 200px;
}

.container {

    display: flex;

    flex-direction: column-reverse;

    gap: 20px;

    width: 100%;
}

.tabla-principal {

    flex: 1;

    min-width: 0;
}

.panel-resumen {

    width: 100%;

    background: white;

    border: 1px solid #ccc;


    display: flex;
    height: 300px;

    flex-direction: column;

    overflow: hidden;
}

#tablaResumenContainer {

    overflow-y: auto;

    flex: 1;

    border: 1px solid #ddd;

    margin-bottom: 10px;
}

table {

    width: 100%;

    border-collapse: collapse;

    background: white;
}

th,
td {

    border: 1px solid #ccc;

    padding: 10px;

    text-align: left;
}

th {

    background: #e9e9e9;
}

tr:nth-child(even) {

    background: #f9f9f9;
}

button {

    cursor: pointer;

    padding: 5px 10px;
}

@media (max-width: 1000px) {

    body {

        margin: 5px;

        font-size: 16px;
    }

    .tabla-principal {

        width: 100%;

        overflow-x: hidden;
    }

    table {

        min-width: 100%;

        table-layout: fixed;
    }

    th,
    td {

        padding: 8px;

        font-size: 15px;

        word-break: break-word;
    }

    input {

        width: 100%;

        font-size: 16px;

        box-sizing: border-box;
    }

    button {

        font-size: 15px;

        padding: 8px;
    }
}
